/* This file is for your main application css. */
.signout-link, .signout-link:visited {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ff4141;
  padding-bottom: 4px;
}
.signout-link:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.help-block {
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  padding: 5px;
}

.padd {
  padding: 15px;
}

.vestibule-logo {
  width: 32px;
  margin-top: -6px;
}

.output {
  white-space: pre-wrap;
}
