/* This file is for your main application css. */
.signout-link, .signout-link:visited {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ff4141;
  padding-bottom: 4px;
}
.signout-link:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}
