<h2>New problem</h2>

<%= render "form.html", changeset: @changeset,
                        action: problem_path(@conn, :create),
                        contests: @contests %>

<%= link "Back", to: problem_path(@conn, :index) %>
