<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create New Contest</h3>
  </div>
  <div class="panel-body">
    <%= render "form.html", changeset: @changeset,
      action: contest_path(@conn, :create) %>

      <div class="center">
        <%= link to: contest_path(@conn, :index), class: "btn btn-danger" do %>
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
        <% end %>
      </div>
  </div>
</div>

